@using MvcCrudDemo.Models
@{
    ViewBag.Title = "Base Resource Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.GetType() == typeof(BaseResource)) {
    <ul>
        <li>Id: @Model.Id.ToString()</li>
        <li>Name: @Model.Name</li>
    </ul>
    @Html.RouteLink("edit", "BaseResourceEdit")
    @Html.RouteLink("back to list", "BaseResource", new { Id = string.Empty})
} else { // assumes Model is List<BaseResource>:
<h2>Base Resource List</h2>
    @Html.RouteLink("add a resource", "BaseResourceNew")
<ul>
@foreach (BaseResource br in ((Dictionary<Guid, BaseResource>) Model).Values)
{
    <li>
        @using (@Html.BeginRouteForm("BaseResource", new RouteValueDictionary(new { br.Id }), FormMethod.Post))
        {
            @Html.RouteLink(br.Name, "BaseResource", new { br.Id })
            @Html.RouteLink("edit", "BaseResourceEdit", new { br.Id })
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            @Html.RouteLink("delete", "BaseResource", new { br.Id }, new { onclick = "parentNode.submit(); return false;" })
        }
   </li>
}
</ul>
}
